<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Blog Post - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <!-- Fonts: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<style>
    .custom-font {
        font-family: 'Ibarra Real Nova', serif;
    }
</style>
<!-- Post content-->
<div class="container mt-5">
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-lg-9"> <!-- 3/4 width -->
            <!-- Post content-->
            <article>
                <!-- Preview image carousel-->
                <div id="imageCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="picture, iterStat : ${offer.getPictures()}" class="carousel-item"
                             th:classappend="${iterStat.first} ? 'active'">
                            <img th:src="${picture}" class="d-block w-100" th:alt="${picture.charAt(0)}"/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Post title-->
                <div class="mb-4">
                    <!-- Post title-->
                    <h1 th:text="${offer.getTitle()}" class="custom-font fw-bolder mb-1 text-center">Offer title</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2 text-center">
                        <span th:text="${offer.getYear()}">Vehicle year production</span>
                        -
                        <span th:text="${offer.getDistancePassed()}">Vehicle distance passed</span> km
                    </div>
                    <!-- Post categories -->
                    <div class="text-center" style="font-size: 20px">
                        <!-- Fuel Category filter -->
                        <a th:text="${offer.getFuel()}"
                           class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='fuel', filterAttr=${offer.getFuel()})}">Vehicle fuel type</a>
                        <!-- Engine Liters Category filter -->
                        <a class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='engineLiters', filterAttr=${offer.getEngineLiters()})}">
                            <span th:text="${offer.getEngineLiters()}"></span>
                            <span> liters</span>
                        </a>
                        <!-- Engine Type Category filter -->
                        <a th:text="${offer.getEngineType()}"
                           class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='engineType', filterAttr=${offer.getEngineType()})}">Vehicle
                            engine type</a>
                        <!-- Engine Cylinders Category filter -->
                        <a class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='engineCylinders', filterAttr=${offer.getEngineCylinders()})}">
                            <span th:text="${offer.getEngineCylinders()}"></span>
                            <span> cylinders</span>
                        </a>
                        <!-- Engine Power Category filter -->
                        <a class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='enginePower', filterAttr=${offer.getEnginePower()})}">
                            <span th:text="${offer.getEnginePower()}"></span>
                            <span> HP</span>
                        </a>
                        <!-- Style Category filter -->
                        <a th:text="${offer.getStyle()}"
                           class="badge bg-secondary text-decoration-none link-light"
                           th:href="@{/offers(filterType='style', filterAttr=${offer.getStyle()})}">Vehicle style</a>
                    </div>
                </div>
                <hr>
                <!-- Add buttons for edit delete-->
                <div class="justify-content-between align-items-center" id="actions-dropdown">
                    <a class="btn btn-dark" th:href="@{'/offers/{id}/edit' (id=${offer.getId()})}">Edit</a>
                    <a class="btn btn-dark"  th:href="@{'/offers/{id}/delete' (id=${offer.getId()})}">Delete</a>
                    <hr>
                </div>
                <!-- Description about the vehicle -->
                <section class="mb-5">
                    <h5 class="text-start mb-3">Vehicle Description</h5>
                    <p th:text="${offer.getDescription()}"></p>
                </section>
                <!-- Information about the vehicle -->
                <div class="bg-dark w-100" style="padding: 15px; color: whitesmoke">
                    <h5 style="padding: 0; margin: 0;" class="text-start">Car Information</h5>
                </div>
                <div class="bg-light p-3 mb-5 d-flex flex-column flex-lg-row justify-content-between">
                    <div style="flex: 1; margin-top: -5px">
                        <table class="table mt-0 pt-0">
                            <tbody>
                            <tr>
                                <th style="width: 50%; text-align: start;">Make</th>
                                <td th:text="${offer.getMake()}">Make</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Model</th>
                                <td th:text="${offer.getModel()}">Model</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Year</th>
                                <td th:text="${offer.getYear()}">Year</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Distance passed</th>
                                <td th:text="${offer.getDistancePassed()}">Distance passed</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Body style</th>
                                <td th:text="${offer.getStyle()}">Body style</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Seats</th>
                                <td th:text="${offer.getSeats()}">Seats</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="flex: 1; margin-top: -5px">
                        <table class="table mt-0 pt-0">
                            <tbody>
                            <tr>
                                <th style="width: 50%; text-align: start;">Cylinders</th>
                                <td th:text="${offer.getEngineCylinders()}">Cylinders</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Volume, L</th>
                                <td th:text="${offer.getEngineLiters()}">Volume, L</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Transmission</th>
                                <td th:text="${offer.getTransmission()}">Transmission</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Drive Train</th>
                                <td th:text="${offer.getDriveTrain()}">Drive Train</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Exterior Color</th>
                                <td th:text="${offer.getExteriorColor()}">Exterior Color</td>
                            </tr>
                            <tr>
                                <th style="width: 50%; text-align: start;">Interior Color</th>
                                <td th:text="${offer.getInteriorColor()}">Interior Color</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END -->
            </article>
        </div>
        <div class="col-lg-3"> <!-- 1/4 width -->
            <div class="p-3 mb-3 text-start" style="border: 1px solid lightgray; border-radius: 2px;">
                <h3 class="custom-font" style="font-style: italic;">
                    <b>
                        <span th:text="${offer.getPrice()}"></span>
                        <span> €</span>
                    </b>
                </h3>
                <span style="font-style: italic;">
                    Monthly Cost:
                    <span th:text="${offer.getPrice() div 12}"></span>
                    <span> €</span>
                </span>
            </div>
            <div class="p-3 mb-3 bg-light">
                <h5 class="custom-font">Contact the Dealer</h5>
                <!-- Your additional content here -->
                <hr>
                <form>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First name" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number:</label>
                        <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone number" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message:</label>
                        <textarea class="form-control" id="message" rows="3"
                                  placeholder="Suggest us a price"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-dark w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Suggestion content-->
<div class="container mt-5">
    <!-- Same make & model offers -->
    <div class="row justify-content-center">
        <h3 class="custom-font mb-2">
            All
            <span th:text="${offer.getMake()}"></span>

            <span th:text="${offer.getModel()}"></span>
            :
        </h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            <div th:each="offer : ${sameMakeAndModelOffers}" class="col mb-5" style="height: 390px; width: 350px">
                <a class="text-decoration-none text-black" th:href="@{/offers/{id}/details(id=${offer.getId()})}">
                    <div class="card h-100">
                        <!-- Offer image-->
                        <div class="h-100" style="width: 100%; height: 200px; overflow: hidden;">
                            <img class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;"
                                 th:src="${offer.getCoverPicture()}" alt="...">
                        </div>
                        <!-- Offer details-->
                        <div class="card-body p-2">
                            <span th:text="${offer.getTitle()}"></span>
                            <br>
                            <span style="font-size: 22px" class="custom-font mt-3 mb-3"><span
                                    th:text="${offer.getPrice()}"></span><span> €</span></span>
                            <br>
                            <span style="color: rgba(33,37,41,0.81);">
                                <span th:text="${offer.getDistancePassed()}"></span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Same make offers -->
    <div class="row justify-content-center">
        <h3 class="custom-font mb-2">
            All from
            <span th:text="${offer.getMake()}"></span>
            :
        </h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            <div th:each="offer : ${sameMakeOffers}" class="col mb-5" style="height: 390px; width: 350px">
                <a class="text-decoration-none text-black" th:href="@{/offers/{id}/details(id=${offer.getId()})}">
                    <div class="card h-100">
                        <!-- Offer image-->
                        <div class="h-100" style="width: 100%; height: 200px; overflow: hidden;">
                            <img class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;"
                                 th:src="${offer.getCoverPicture()}" alt="...">
                        </div>
                        <!-- Offer details-->
                        <div class="card-body p-2">
                            <span th:text="${offer.getTitle()}"></span>
                            <br>
                            <span style="font-size: 22px" class="custom-font mt-3 mb-3"><span
                                    th:text="${offer.getPrice()}"></span><span> €</span></span>
                            <br>
                            <span style="color: rgba(33,37,41,0.81);">
                                <span th:text="${offer.getDistancePassed()}"></span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Same car style offers -->
    <div class="row justify-content-center">
        <h3 class="custom-font mb-2">
            All
            <span class="text-lowercase" th:text="${offer.getStyle()}"></span>
            :
        </h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            <div th:each="offer : ${sameCarStyleOffers}" class="col mb-5" style="height: 390px; width: 350px">
                <a class="text-decoration-none text-black" th:href="@{/offers/{id}/details(id=${offer.getId()})}">
                    <div class="card h-100">
                        <!-- Offer image-->
                        <div class="h-100" style="width: 100%; height: 200px; overflow: hidden;">
                            <img class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;"
                                 th:src="${offer.getCoverPicture()}" alt="...">
                        </div>
                        <!-- Offer details-->
                        <div class="card-body p-2">
                            <span th:text="${offer.getTitle()}"></span>
                            <br>
                            <span style="font-size: 22px" class="custom-font mt-3 mb-3"><span
                                    th:text="${offer.getPrice()}"></span><span> €</span></span>
                            <br>
                            <span style="color: rgba(33,37,41,0.81);">
                                <span th:text="${offer.getDistancePassed()}"></span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>